<%= stylesheet_link_tag "articles" %>
<!-- article section -->
<section id="article">
  <article>
    <%= render 'shared/vote_article' %>
    <header>
      <h3><%= @article.articleTitle %> <%= @article.score.to_i %></h3>
            

      <span>By <%= @article.user.name %> on 
        <time datetime="<%= @article.created_at %>" pubdate="pubdate"><%= @article.created_at.to_formatted_s(:short) %></time></span>
    </header>
    <p><%= @article.articleContent %></p>
  </article>
</section>
<!-- comment section -->

<section id="comments">
  <%= render :partial => 'shared/comment_item',:collection => @current_comments %>
</section>
<!-- post section -->
<section id="post">
  <% if signed_in?%>

    <%= form_for(:comments, :url => comments_path) do |f| %>
        <%= f.text_field :commentContent ,:placeholder => "complain....",  :autofocus => "autofocus"  %>
        <section id="comment">
          <%= f.hidden_field(:article_id,:value=>@article.id) %></section>
    <% end %>
  <%end%>
</section>