<!DOCTYPE html>
<html>
<head>
	<title><%=@title%></title>
	<%= stylesheet_link_tag  "application" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "cufon" %>
	<%= csrf_meta_tags %>
</head>
<body>
<section id='header'>	
	<%= link_to raw('<header>
		<hgroup>
			<h1>Siamcomplain</h1>
			<h2>The Consumer Voice</h2>
		</hgroup>
	</header>'),root_path %>
<%= render 'layouts/header' %>
	<div class="clearBoth"/>
</section>
<div class="clearBoth"></div>
<section id="content">
		<% flash.each do |key,value| %>
	 <div class="flash<%= key %>"><%= value %></div>
	 <% end %>
		<%= yield %>
		<br class="clearBoth"/>
</section>
<br class="clearBoth"/>
<footer>
		<%= debug(params) if Rails.env.development? %>
</footer>
</body>
</html>
